/*  loopingList.css */

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: #fff;
}

.player {
  text-align: center;
  background: #333;
  padding: 30px;
  border-radius: 10px;
}
